<section>
    <div class="preview-container">
        <div class="heading-container">
            <h2>Preview Data</h2>
            <button class="button" (click)="navigateToSummary()">View Summary</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>GPA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td [ngClass]="{'text-error': row.errors.Name}">{{(!row.row.Name || row.errors.Name ) ? row.errors.Name : row.row.Name }}</td>
                    <td [ngClass]="{'text-error': row.errors.Email}">{{ (!row.row.Email || row.errors.Email ) ? row.errors.Email : row.row.Email  }}</td>
                    <td [ngClass]="{'text-error': row.errors.Phone}">{{ (!row.row.Phone || row.errors.Phone ) ? row.errors.Phone : row.row.Phone  }}</td>
                    <td [ngClass]="{'text-error': row.errors.City}">{{ (!row.row.City || row.errors.City ) ? row.errors.City : row.row.City  }}</td>
                    <td [ngClass]="{'text-error': row.errors.Address}">{{ (!row.row.Address || row.errors.Address ) ? row.errors.Address : row.row.Address  }}</td>
                    <td [ngClass]="{'text-error': row.errors.GPA}">{{ (!row.row.GPA || row.errors.GPA ) ? row.errors.GPA : row.row.GPA  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>