
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    height: 80vh;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.table-container {
    width: 80%;
    overflow-x: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #084cdf;
    color: white;
}

tbody {
    overflow-y: auto;
    display: block;
    table-layout: fixed;
    max-height: 80vh;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

th {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #eaeaea;
}

td {
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .table-container {
        width: 100%;
    }
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #084cdf;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #0d45a5;
    color: #fff;
    transform: translateY(-1px);
}

.text-error {
    color: lightcoral;
}